[Unit]
# after.2.service will only start after after.1.service left the state activating.
# there is not state requirement on after.1.service
After=after.1.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=sleep 1
ExecStop=sleep 1
