[Unit]
# requires.2 will only start after require.1.service left the state "activating".
# Note that it is not necessary that requires.1.service transitions to active.
After=requires.1.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=sleep 1
ExecStop=sleep 1
