[Unit]
# when Requires= & After= are specified together,
# ensures requires.3.service will not start until requires.1.service transitions from state "activating" to "active"/"inactive"
# if requires.1.service is explicitly stopped via "systemctl stop third.service", requires.3.service will also be stopped
Requires=requires.1.service
After=requires.1.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=true
