[Unit]
# if requires.1.service is activated, requires.2.service will also be activated.
# requires.1.service does not have to be in "active" state
# with or without specifying After=, requires.2.service will be stopped (or restarted) if requires.1.service is explicitly stopped (or restarted).
Requires=requires.1.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=sleep 1
ExecStop=sleep 1
