[Unit]
# ordering dependency
# second.service will start only after the first.service left the state "activating"
After=first.service

# requirement dependency
# on a best-effort basis, tries to start first.service
# it does not require first.service to succesfully activate or even to exist
Wants=first.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=sleep 1
ExecStop=sleep 1
